# Database settings
DATABASE_URL=postgresql://neondb_owner:npg_C0AHePu5LYNI@ep-odd-shadow-a4ai8rga-pooler.us-east-1.aws.neon.tech/neondb?sslmode=require

# Qdrant settings
QDRANT_API_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhY2Nlc3MiOiJtIn0.N1r3ub3HO_BxM8OwB5hofC5BrSKk9BueBlLVk4ASQr4
QDRANT_HOST=https://420aeb46-c01e-489c-a0a9-992b22d2b6e0.europe-west3-0.gcp.cloud.qdrant.io
QDRANT_PORT=6333
QDRANT_COLLECTION_NAME=book_content

# Cohere settings
COHERE_API_KEY=Ru2Z7N84Yzpotw64yhwP6rSqSLbzdj6imkWn0t4H

# Application settings
DEBUG=False